.container {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
}

.leftBox {
  flex: 3;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.rightColumn {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rightBox {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-text);
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.skillIcon {
  width: 60px;
  height: 60px;
  background-color: var(--color-primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
}

/* Responsivo */
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
}
