/* src/components/SocialSidebar/SocialSidebar.module.css */

.sidebar {
  position: fixed;
  top: 35%;
  left: 0;
  z-index: 1000;
  
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 0.5rem 0;
}

.sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s, transform 0.3s;
}

.sidebar a:hover {
  background-color: var(--color-accent);
  transform: translateX(5px);
}

.sidebar svg {
  width: 20px;
  height: 20px;
}
