.card {
  display: flex;
  gap: 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  align-items: center;
  flex-wrap: wrap;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.image {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 8px;
  object-fit: cover;
}

.content {
  flex: 1;
}

h3 {
  margin: 0 0 0.5rem 0;
  color: var(--color-text);
}

p {
  margin-bottom: 1rem;
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--color-text);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 0.5rem;

}

.button {
  background-color: var(--color-primary);
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-accent);
}

.stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
 
}

.stackIcon {
  background-color: var(--color-primary);
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 1rem;
  transition: transform 0.3s ease; /* ⬅️ Aqui já define a transição */
}

.stackIcon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Responsivo */
@media (max-width: 900px) {
  .card {
    flex-direction: column;
    text-align: center;
  }

  .image {
    margin-bottom: 1rem;
  }

  .buttons {
    justify-content: center;
  }

  .stacks {
    justify-content: center;
  }
}
