.container {
  padding: 4rem 1rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  justify-content: center;
}

.formWrapper {
  width: 100%;
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 1.5rem;
  margin-top: 1.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: var(--color-subtle);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.inputGroup input,
.inputGroup textarea {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: var(--color-bg-light);
  color: var(--color-text);
  font-size: 1rem;
}

.button {
  background-color: var(--color-primary);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-accent);
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .button {
    align-self: center;
    width: 100%;
  }
}
